## Ignore Visual Studio temporary files, build results, and
## user-specific files
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/
*.db
*.sqlite
*.log
publish/
TestResults/
node_modules/
wwwroot/lib/
.DS_Store
# Rider
.idea/

# ASP.NET temp files
*.generated.cs